*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    display: flex;
    flex-direction: column;

}
header{
    background-color: #333;
    display: flex;
    background: white;
}
header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 1px 1px 0px rgb(15, 15, 54)
}
header nav .nav-left{
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

header nav .nav-left h1{
    font-size: 2rem;
    color: #333333bc;
    font-family:serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 30px;
}
.nav-left h1:hover {
    color: red;
    transition: color 0.3s ease-out;
    transition-duration: 0.5s;
}
header nav .nav-right{
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
}
header ul{
    display: flex;
    align-items: center;
    gap: 55px;
    padding: 20px;
}
header ul li{
    list-style-type: none;   
}

header ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: serif;
    font-size: 1.5em;
}

header ul li a:hover{
    color: blue;
    transition: color 0.3s ease-out;
}
header ul li button{
    background-color: #282828ef;
    color: white;
    padding: 20px 25px;
    font-family: serif;
    font-size: 22px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
header ul li button:hover{
    position:relative;
    transition-delay: 3ms;
    top: -5px;
    transform: rotateX('angle');
    transition: transform 0.5s ease-in-out;
    transition: color 0.3s ease-in-out;
}
header ul li button > a{
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
 /* first style end */

.main-container{
    display: flex;
    padding: 40px 15px 40px 100px;
    color: white;
    background: #000;
}
section{
    display: flex;
}
aside{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 35px;
    padding-right: 25px;
    
}

aside h1 {
    font-size: 3rem;
    padding-right: 25px;
}

aside p{
    font-size: 1.2rem;
    padding-right: 22px;
}
section ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

section ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

i{
    margin-right: 10px;
    color: blue;
}

form{
    width: 80%;
    flex-direction: column;
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    color: #000;
}
.name{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}
.first-name ,.last-name{
    flex: 1;
}

input[type="text"]{
    width: 100%;
    font-size: 18px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.email-phone{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}
.email ,.phone{
    flex: 1;
}

input[type="email"], input[type="password"], input[type="tel"]{
    width: 100%;
    font-size: 18px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
input:hover{
    border: 1px solid blue;
}
.company-role{
    display: flex;
    margin-bottom: 20px;
    gap: 35px;
}
.company1 ,.role{
    flex: 1;
    /* gap: 40px; */
}
label {
    margin-right: 10px;
    font-weight: bold;
}

.role {
    margin-left: 10px;
    width: 100px;
}

.submit{
    padding: 20px 0px;
    font-size: 22px;
    cursor: pointer;
}
.submit button {
    background: red;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
}
.submit button:hover{
    position: relative;
    top: -5px;
    transition: 30ms;
}
/* seconds */

main{
    height: 100vh;
}
.main-header{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.main-body{
    display: flex;
    padding: 0px 25px;
}
.main-body p {
    font-size: 22px;
    line-height: 40px;
    flex-wrap: 100;
}
.main-body p:first-child{
    height: 40vh;
    font-size: 1.2rem;

}
.main-body-left{
    flex: 1;
    padding: 0px 30px;

}

.main-body img{
    width: 30%;
    height: auto;
    object-fit: cover;
}

.name-bread{
    padding: 10px 0px ;
}
.name-bread h1{
    font-size: 22px;
    font-weight: 600;
    color: #be9f9f;
    font-family: serif;
}
.main-body-med{
    flex: 1;
    padding: 0px 30px;
    border-left: 1px solid #b18787;
}
.main-body-right{
    flex: 1;
    padding: 0px 30px;

    border-left: 1px solid #b18787;
}

/* thirds */

.app{
    display: flex;
    background: white;
    padding: 20px;
    height: 40vh;
    margin-top: 100px;
}
.app-left{
    flex: 1;
    padding: 0px 40px;

}

.app-mid{
    flex: 1;
    padding: 0px 40px;
}
.app-right{
    flex: 1;
    padding: 0px 40px;
} 

.app img{
    width: 45px;
}
.app h1{
    padding: 5px 0px;
    font-size: 22px;
    letter-spacing: 1px;
}
.app p{
    font-size: 15px;
    letter-spacing: 1px;
}
/* fourth */

.company{
    padding: 0px 65px 0px 100px;
    display: flex;
    background: white;
}
.main-content {
    display: flex;
    height: 100vh;
    width: 100%;
}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.image-company{
    flex: 1;
    background: white;
    
}
.image-company img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.content h1{
    font-size: 42px;
    line-height: 40px;
    font-family: sans-serif;
    padding-bottom: 15px;
  
}
.content p{
    letter-spacing: 1px;
}
.content-button{
    display: flex;
    gap: 30px;
    padding-top: 50px;
}
.content-button button{
    background: white;
    padding: 20px 40px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    background: rgba(255, 0, 0, 0.863);
    color: white;
}
.content-button button:last-child{
    background: white;
    color: red;
    font-weight: 200;
    border-radius: 25px;
    border: 1px solid #f36060;
}
.content-button button:hover{
    position: relative;
    bottom: 5px;
    transition: 25ms;
}
.content-button button:last-child:hover{
    background: rgba(0, 0, 0, 0.598);
    color: rgba(255, 255, 255, 0.477);
}
/* fifth */

.our-process{
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subtitle{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
}
.subtitle h3{
    font-size: 1.5rem;
    color: rgb(238, 105, 105);
    padding: 10px 0px;
}
.process h1{
    font-weight: 600;
    padding-bottom: 10px;
}

.process-list {
    display: flex;
    padding: 0px 75px;
}
.process-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: white;
}

.process-item h1{
    background: rgb(238, 236, 233);
    color: rgb(247, 110, 110);
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    border-radius: 200px;
    margin-bottom: 40px;
}
.process-item h2{
    font-size: 1.5rem;
    padding-bottom: 10px;
}


/* six */
.browse{
    height: 100vh;
    background: rgb(133, 112, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}
.browse-header{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 0px;
    gap: 10px;
}
.browse-body{
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    gap: 40px;
}
.browse-top{
    width: 100%;
    display: flex;
    gap: 30px;
}
.browse-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}
.browse-item{
    width: 50%;
    padding: 20px 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 20px;

}
.profile-item img{
    width: 65px;
    height: auto;
    object-fit: cover;
}
.profile-item{
    display: flex;
    align-items: center;
}
/* seven */

.wh{
    height: 122vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 70px 70px;
}
.card1 , .card2 , .card3{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;

}
.box{
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background: white;
    flex: 1;
    font-size: 1.3rem;
    font-weight: 500;
    justify-content: space-between;
    border-radius: 10px;
}
/* eighth */

footer{
    height: 100vh;
    background: white;
    width: 100%;
}
.footer-content{
    display: flex;
    height: 60vh;
    background: white;
    padding: 30px  75px 0px 30px;
}
.content1{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
}
.content1 p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.content1 h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}
.content1 button{
    background: #000;
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    color: white;

}

.new{
    display: flex;
    align-items: center;
}
/* next end */

.footer-language{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0px 65px;
    background: white;
}

.language{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px;
    font-size: 1.2rem;
    border-top: 1px solid #b69595;
    border-bottom: 1px solid #b69595;
}

.language ul{
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
}

/* the end */
.footer-foot{
    background: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 65px;

}

.footer-foot-left{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.2rem;
}